

h1
{
    font-family: cursive;
}

p
{
    
    font-family:'Courier New', Courier, monospace;
}

#emerald_green
{
    border-bottom:solid 12px #005C46
    
}

#cornflower
{
    border-bottom:solid 12px cornflowerblue
    
    
}

#slategrey
{
    border-bottom:solid 12px slategrey
    
}

#plum
{
    border-bottom:solid 12px #2E1836
      
}

#forest_green
{
    border-bottom:solid 12px #003B1B
    
    
}

#sage_green
{
    border-bottom:solid 12px #8ABD91
    
}

#salmon
{
    
    border-bottom:solid 12px salmon
    
}